body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, p, label {
  font-family: Helvetica, Arial, sans-serif;
}

span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 300px;
}
